/*
Fab: ich habe die dashed outline mal ausgeblendet, sieht schrecklich aus :)
* {
	border: 1px dashed blue;
}

*/

html{
	height: 100%;
}

body {
  background: url("../images/background3.jpg");
  background-size: auto;
	background-repeat: no-repeat;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#devicebody{
	background-image: url("../images/device1.png");
	background-size: 85em;
	background-repeat: no-repeat;
	height: 49.1em;
	width: 85em;
	margin: auto;
	color: #FFFFFF;

}

#devicecontent{
	margin-top: 0; /*Positionierung des contents auf der Silbernen Platte*/

}
