* {
	border: 1px dashed black;
}

body, html{
  min-height: 100%;
}

body {
  background: url("../images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.knob{
	height: 5em;
  min-height: 50%;
  display: inline-block;
}
