*{
	-webkit-appearance: none;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
	/*prevent user to select elements*/
}

html{
	height: 100%;
}

body {
  background: url("../images/background3.jpg");
  background-size: auto;
	background-repeat: no-repeat;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#devicebody{
	background-image: url("../images/Gui-Skizze02.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 50em;
	width: 85em;
	margin: auto;
	margin-top: 5%;
}

#devicecontent{
	overflow: auto;
	margin-top: 0; /*Positionierung des contents auf der  Metallplatte*/
}


/*SELECTORS-PLATZHALTER*/
#dropDown1{
	margin-left: 8.6%;
}
/*spezielle Horizontale Positionierung des ersten Elementes*/
.dropDowns{
	display: inline-block;
	height: 2em;
	width: 5.88%;
	background-color: #ddd;
	margin-top: 1.8%;
	margin-bottom: 0.5%;
	margin-left: 0.81%;
}

option{
	margin-left: 2%;
}

/*TRIGGERPADS*/
#triggerKick{
	margin-left: 8.6%;
}
.triggers{
	vertical-align: top;
	height: 6em;
	width: 5.88%;
	background-color: #ffffcc;
	border-radius: 0.2em;
	margin-left: 0.81%;
	margin-bottom: 0.8%;
	outline: none;
	border: 0;
	display: inline-block;
	-webkit-box-shadow: -0.14em 0.14em 0.3em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;
	-moz-box-shadow: -0.14em 0.14em 0.3em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;
	box-shadow: -0.14em 0.14em 0.3em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;
}
.triggers:active{
	-webkit-box-shadow: -0.1em 0.1em 0.2em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.1em 0.1em 0.2em #fffffc, inset 0.5em -0.5em 2em #fffffc, inset -0.1em 0.1em 2.5em #909090;
	-moz-box-shadow: -0.1em 0.1em 0.2em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.1em 0.1em 0.2em #fffffc, inset 0.5em -0.5em 2em #fffffc, inset -0.1em 0.1em 2.5em #909090;
	box-shadow: -0.1em 0.1em 0.2em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.1em 0.1em 0.2em #fffffc, inset 0.5em -0.5em 2em #fffffc, inset -0.1em 0.1em 2.5em #909090;
}
/*triggerpad Beschriftung @W*/
p{
	margin:auto;
	text-align: center;
	font-size: 150%;
}

/*VOLUMEFADER*/

#faderSection{
	margin-left: 5.9%;
}

#faderSection input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
		vertical-align: top;
    width: 1.4em;
    height: 15em;
    padding: 0 5px;
		margin-top: 1.5%;
		margin-left: 4.97%;
		display: inline-block;
}

/*PANORAMAKNOBS*/
#panningSection{
	margin-left: 6.3%;
}

#panningSection input[type=range][orient=horizontal]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-horizontal; /* WebKit */
		vertical-align: top;
    width: 3%;
    height: 1%;
    padding: 0px;
		margin-top: 1%;
		margin-left: 4%;
		display: inline-block;
}


/*GLOBALSETTINGS-PLATZHALTER*/
#globalsect{
	height: 10em;
	width: 70em;
	border: 0.1em solid black;
	margin-top: 1.9%;
	margin-left: 8.8%;
}

/*SEQUENZERBUTTONS*/
#step1{
	margin-left: 8.8%;
}
.seqButtons{
	vertical-align: top;
	height: 15em;
	width: 5.8em;
	background-color: #fff;
	border-radius: 0.1em;
	margin-top: 0.6%;
	margin-left: 0.2%;
	margin-bottom: 0.2%;
	outline: none;
	border: 0;
	display: inline-block;
	-webkit-box-shadow: -0.2em 0.2em 0.3em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;
	-moz-box-shadow: -0.2em 0.2em 0.3em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;
	box-shadow: -0.2em 0.2em 0.3em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;

}
.seqButtons:active{ /*Merkt sich den Click noch nicht (JS?)*/
	-webkit-box-shadow: -0.0em 0.0em 0.2em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;
	-moz-box-shadow: -0.0em 0.0em 0.2em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;
	box-shadow: -0.0em 0.0em 0.2em #000000, inset 0.1em -0.1em 0.3em #000000, inset -0.2em 0.2em 0.3em #fffffc;
}
